# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/
Lib/
Scripts/
share/
pyvenv.cfg

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Variables privadas
.env

# Vercel local
.vercel/

# Datos originales pesados o innecesarios para la app
Data Original/

# Archivos temporales
*.log